<!-- post.handlebars -->

<div class='intro'>
  {{intro}}
</div>

{{#if isExpanded}}
  <div class='body'>{{body}}</div>
  <button {{action contract}}>Contract</button>
{{else}}
  <button {{action expand}}>Show More...</button>
{{/if}}

{{> myPartial}}
{{> myPartial var="value" }}
{{> myPartial var=../value}}
{{> (myPartial)}}
{{> (myPartial) var="value"}}
{{> (lookup . "myPartial")}}
{{> ( lookup . "myPartial" ) var="value" }}
{{> (lookup ../foo "myPartial") var="value" }}
{{> @partial-block}}

{{#>myPartial}}
...
{{/myPartial}}

{{#*inline "myPartial"}}
...
{{/inline}}

{{../name}}
{{./name}}
{{this/name}}
